.badge {
  height: 23px;
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11.5px;
  background-color: tomato;
  font-size: 15px;
  color: white;
  font-weight: 500;
}
